<mtapp:setting
    id="atom_settings"
    hint="EndPoint, Username, Password"
    show_hint="1"
    label="<__trans phrase="Settings">">
<textarea name="atom_settings" cols="60" rows="5"><TMPL_VAR NAME=ATOM_SETTINGS ESCAPE=HTML></textarea>
</mtapp:setting>
